/*Contact*/
body
{
    background-color:#f4eeff;
    font-family:  'Dosis', sans-serif;
}
/*Navbar*/
.nav_items
{
    height: 60px;
    background-color:#dcd6f7;
    position: absolute;
    right: -25rem;
    left: 0rem;
    top:0rem;
    text-align: left;
    padding-right:25rem; ;
    z-index: 100;
}
    li
{
    list-style: none;
    width: 10rem;
    float: right;
 
}
.image
{

    position: absolute;
    top: 23px;
    transform: rotate(15deg);
    right:55rem;
}
.image :hover{
    transform: rotate(-15deg);
    transition: transform 0.6s;
}
.image2
{
   position: absolute;
   left:15px;
   top:0.5em;
   z-index: 200;
}
.image2 :hover
{
      border:3px solid #a6b1e1;
      background-color:#a6b1e1 ;
}
.tag>a
{
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 2px;
    cursor: pointer;
}
.tag>a:hover
{
    border-radius: 50%;
    border: 5px solid #a6b1e1;
    background-color:  #a6b1e1;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;

}
/*Sidebar*/

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#a6b1e1;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
    z-index: 400;
  }
  
  .side-nav a{
    padding:20px 20px 20px 30px;
    text-decoration:none;
    font-size:22px;
    color:#562349;
    display:block;
    transition:0.3s; 
    font-family:  'Dosis', sans-serif;

  }
  
  .side-nav a:hover{
  
    border: 5px solid #a6b1e1;
    background-color:  #a6b1e1;

    box-sizing: border-box;
    cursor: pointer;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:45px;
    margin-left:50px;
   
  }

  /*Main details*/
.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 0 0 0;
}

.main h1
{
    color:#424874;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
      

}
.main_two
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_three
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Finish Main Details*/

/*Form style*/

.details
{

    border: 2px double #424874;
    border-radius: 40px 0px 40px 0px;
    box-sizing: border-box;
    margin: auto  auto 5rem auto;
    width: 30rem;
    padding-bottom:px;
    height: 260px;
  

}
.details form
{
    text-align: center;
  
}
.details h3
{
    font-weight: 600;
    text-align: center;
}

.details input[type=submit]
{
  
    border:0 none ;
    cursor:pointer;
    border-radius: 5px; 
    background-color: #dcd6f7;    
    font-size: 1rem;
    letter-spacing: 2;
    margin-bottom: 35px;
}

.details input[type=submit]:hover
{
   
   
    border:8px #a6b1e1 ; 

    background-color: #a6b1e1;
    border-radius:50%;
   
}
/*Finish form details*/
/*Footer*/

.footer
{
    height: 80px;
    background-color:#dcd6f7;
    position: absolute;
    right: -25rem;
    left: -15rem;
    top:40rem;
    text-align: center;
}

.footer h2
{
    color:#424874;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 20px;
}

/*Finish footer style*/


/*Media section*/
@media only screen and (min-width:568px)
{
    .image2{
        display: none;
    }
    .mini_footer{
        display: none;
    }
    .mini_details
    {
        display: none;
    }
}


@media only screen and (max-width:568px)
{

    .nav_items 
    {
        display: none;
    }
    .footer{
        display: none;
    }
    .mini_footer
{
    height: 80px;
    background-color:#dcd6f7;
    position: absolute;
    right: -25rem;
    left: -15rem;
    text-align: center;
}
.mini_footer h2
{
    color:#424874;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 16px;
}
.details {
   display: none;
}
.details h3
{
    font-weight: 400;
    text-align: center;
}
.mini_details
{
    margin-bottom:5rem;
    margin-top: 5rem;
    position: relative;
    left:6rem;
}
.mini_details input[type=submit]
{
  
    border:0 none ;
    cursor:pointer;
    border-radius: 5px; 
    background-color: #dcd6f7;    
    font-size: 1rem;
    letter-spacing: 2;
    margin-bottom: 45px;
}

.mini_details input[type=submit]:hover
{
   
   
    border:8px #a6b1e1 ; 

    background-color: #a6b1e1;
    border-radius:50%;
   
}

}