
/*Contact*/
body
{
    background-color:#f4eeff;
    font-family:  'Dosis', sans-serif;
}

/*Navbar*/
    .nav_items 
{
    height: 60px;
    background-color:#dcd6f7;
    position: absolute;
    right: -25rem;
    left: 0rem;
    top:0rem;
    text-align: left;
    padding-right:25rem; ;

}
    li
{
    list-style: none;
    width: 10rem;
    float: right;
 
}
.image
{

    float: left;
    position: absolute;
    top: 23px;
    transform: rotate(15deg);
}
.image :hover{
    transform: rotate(-15deg);
    transition: transform 0.6s;
}
.nav_items a
{
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 2px;
    cursor: pointer;
}
.nav_items a:hover
{
    border-radius: 50%;
    border: 5px solid #a6b1e1;
    background-color:  #a6b1e1;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;

}

body
{
    background-color:#f4eeff;
 
}
hr
{
   
    width:6%;
    border-top: #a6b1ea dotted 5px;
}
h1,h2{
    color:#424874;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
}
h3{
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}
th{
    color: #584153;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}
td,li,p
{
    color:  #562349;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.container2{
    height: 270px;
    display: flex;
    justify-content: center;
 

}

.container2 li{
    list-style:none ;
}
.container2 a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.education a:hover{
    background-color: #a6b1e1;
    color: black;
}


.introduction
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 400px;
   padding-top:10rem;
}
.introduction{
    /*animation: change 3s ease-out 0s infinite none running;*/
     animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 
 /*@keyframes change
 {
   from {
       background-color:#dcd6f7;
   }
   to {
     background-color:#a6b1e1;
     
 }
 }*/
 @keyframes rotate-in-center {
     0% {
       transform: rotate(-360deg);
       opacity: 0;
     }
     100% {
       transform: rotate(0);
       opacity: 1;
     }
   }
   .introText
{
    display: flex;
    flex: 2;
    justify-content: center;
}  
.introduction img
{
    display: block;
    width: 45%;
    min-width:100px;
    max-width: 350px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
}   

.education
{
    display: flex;
    align-items: center; 
    justify-content: center     ;
    flex-direction: column;
    height: 200px;
    
}

.extraInfo
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

}

.size{

    display: flex;
    align-items: center; 
    justify-content: center;
    height: 500px;
 
}   

section{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction:row;

}
.certificate
{
    display: flex;
    align-items: center; 
    justify-content:center;
    flex-direction:column;
    margin: 35px;
    width:350px;
    min-width: 350px;
    height: 200px;
  
 
}
.row
{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction:row;
    height:25%;

 
}
.col
{
    flex:1;
  
}
.row1
{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction:row;
    height:25%;
}

.cer
{
  display:block;

 /*actual image width*/
/* maintain aspect ratio*/
text-align: center;

}
.cer1
{
  display:block;

 /*actual image width*/
/* maintain aspect ratio*/
text-align: center;
margin-top: -15%;

}
.certificate1
{
    display: flex;
    align-items: center; 
    justify-content:center;
    flex-direction:column;
    width:350px;
    min-width: 350px;
    height: 200px;
  
 
}
.cer1
{
  display:block;

 /*actual image width*/
 
text-align: center;

}
.col1
{
    flex:1;

}
.footer
{
    height: 80px;
    background-color:#dcd6f7;
    position: absolute;
    right: -25rem;
    left: -15rem;
    text-align: center;
}

.footer h2
{
    color:#424874;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 20px;
}